
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar navbar-nav">
    <li>
   <button (click)="onGetAllProducts()" class="btn btn-sm btn-outline-info ml-2">All</button>
    </li>
    <li>
      <button (click)="onGetSelectedProducts()" class="btn btn-sm btn-outline-info ml-2">Selected</button>
       </li>
       <li>
        <button (click)="onGetAvaibleProducts()" class="btn btn-sm btn-outline-info ml-2">Available</button>
         </li>
         <li>
          <button (click)="onNewProducts()" class="btn btn-sm btn-outline-info ml-2">New</button>
           </li>

  </ul>


      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline my-2 my-lg-0" >
   <input ngModel name ="keyword"    class="form-inline mr-sm-2" type="search">
    <button class="btn btn-sm btn-outline-info "><span class="fa fa-search"></span></button>
      </form>

</nav>

<div class="container" *ngIf="products">
  <table class="table">
    <tr>
      <th>ID</th><th>Name</th><th>Quantite</th><th>Prix</th><th>Selected</th><th>Available</th>
    </tr>
    <tr *ngFor="let p of products">
     <td>{{p.id}}</td>
     <td>{{p.name}}</td>
     <td>{{p.quantite}}</td>
     <td>{{p.prix}}</td>
     <td>{{p.selected}}</td>
     <td>{{p.available}}</td>
     <td>
      <button (click)="onSelect(p)"  class="btn btn-outline-info">
      <span *ngIf="p.selected">Unselect</span>
      <span *ngIf="!p.selected">Select</span>
    </button></td>

    <td>
      <button class="btn btn-outline-danger" (click)="onDelet(p)">
      <span class="fa fa-trash-o"></span>
    </button></td>
    <td>
      <button class="btn btn-outline-danger" (click)="onEdit(p)">
      <span class="fa fa-edit"></span>
    </button></td>

  </tr>
  </table>

</div>

