<div *ngIf="productFormGroup">
  <form [formGroup]="productFormGroup">
    <div class="form-group">

      <!-- ID type hidden -->
      <input type="hidden" class="form-control"  formControlName="id">
    </div>


    <div class="form-group">

      <label >Name</label>
      <input type="text" class="form-control" placeholder="Name" formControlName="name"></div>
      <!--   vérification des champs
        [ngClass]="{'is-invalid':submitted && productFormGroup.controls.name.errors}">
      <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback"></div>
      <div *ngIf="productFormGroup.controls.name.errors.Required">Name is Required</div>  -->
      <div class="form-group">
        <label >Quantité</label>
         <input type="text" class="form-control" placeholder="Quantite"  formControlName="quantite">
      </div>
      <div class="form-group">
        <label >Prix</label>
         <input type="text" class="form-control" placeholder="Prix"  formControlName="prix">
      </div>
      <div class="form-group">
        <label >Selected</label>
         <input type="checkbox" class="form-check"  formControlName="selected" >
      </div>
      <div class="form-group">
        <label >Available</label>
         <input type="checkbox" class="form-check"  formControlName="available">
      </div>
  <div>
    <button type="submit" class="btn btn-primary" (click)="onUpdate()">Submit</button>
  </div>
  </form>
  </div>
